[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.7.1"
soupsieve = "==1.8"
requests = "==2.22.0"
chardet = "==3.0.4"
pycparser = "==2.19"
asn1crypto = "==0.24.0"
certifi = "==2019.6.16"
cffi = "==1.12.3"
click = "==7.0"
six = "==1.12.0"
win-inet-pton = "==1.1.0"
wincertstore = "==0.2"
Flask = "==1.0.3"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
pyOpenSSL = "==19.0.0"
PySocks = "==1.7.0"
Werkzeug = "==0.15.4"
boto3 = "*"
mysql-connector-python-rf = "*"
uwsgi = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
